# -- Markup --
# These settings are required for the theme to function.

[goldmark]
[goldmark.renderer]
  [goldmark.extensions]
      [goldmark.extensions.passthrough]
        enable = true
        [goldmark.extensions.passthrough.delimiters]
          block = [['\[', '\]'], ['$$', '$$']]
          inline = [['\(', '\)'], ['$', '$']]
  unsafe = true

[highlight]
  noClasses = false

[tableOfContents]
  startLevel = 2
  endLevel = 4
